.button {
  margin-top: 0;
  margin-left: 0;
  width: 60px;
  height: 60px;
  outline: none;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 1.5em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.button svg {
  color: #555;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all .75s;
}

.button:hover svg {
  transition: all .75s;
  color: #111;
}
