.button {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  transition: all .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.button:hover {
  cursor: pointer;
  transform: rotate(180deg) scale(1.5, 1.5);
}

.button:active {
  background-color: #FFF;
}
