#left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background-color: #ddd;
  z-index: 99;
}

#right-sidebar {
  top: 0;
  position: fixed;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  width: 60px;
  left: calc(100vw - 60px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  z-index: 99;
}
