.parallax {
  overflow-y: scroll;
  max-height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
}

.blue-button-1 {
  transition: all 0.5s;
}

.blue-button-1:hover {
  transition: all .7s;
  cursor: pointer;
  background: rgba(0, 148, 122, .4) !important;
}
