.contact-section {
  top: 25px;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.contact-panel {
  text-align: right;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #006494;
  transform: translate3d(-21vw, 0, 0);
  transition: all 1s;
  border-radius: 25px;
}

.contact-panel:hover {
  cursor: pointer;
  background-color: rgba(0, 100, 148, 0.6);
  transition: all 0.5s;
}

.contact-panel.no-link:hover {
  transition: all 1s;
  transform: translate3d(0, 0, 0);
}

.contact-panel h3 {
  color: #ddd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 0;
}
