#main-header, #main-title, #header-subtitle {
  width: 100vw;
  max-width: 100vw;
}

#main-header {
  background-color: #00283B;
  margin-bottom: 0;
  margin-top: 0px;
  height: 200vh;
  padding: 10px;
  transition: left 2s;
  z-index: -2;
}

#main-title, #header-subtitle {
  position: fixed;
  height: 100vh;
  left: 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  color: #ccc;
  font-size: 30px;
  transition: all 1s;
}

#main-title {
  transition-delay: 1s;
}

#main-title.title-slide-right,
#header-subtitle.show,
#header-sub-h2,
#header-sub-h3,
#header-sub-h2.show,
#header-sub-h3.show,
#scroll-msg,
#scroll-msg.slide-left {
  transition: all 1s;
}

#main-title.title-slide-right {
  color: #7C95AA;
  left: 55vw;
}

#header-subtitle {
  transform: translate3d(-20vw, 200vh, 0);
  transition-delay: .75s;
}

#header-subtitle.show, #header-sub-h2, #scroll-msg {
  transition-delay: .5s;
}

#header-subtitle.show {
  transform: translate3d(-20vw, 0vh, 0);
}

#header-sub-h2 {
  transform: translate3d(0, 200vh, 0);
  margin-bottom: 10px;
}

#header-sub-h3 {
  transform: translate3d(0, 200vh, 0);
  margin-bottom: 10px;
  transition-delay: .25s;
}

#header-sub-h2.show, #header-sub-h3.show {
  transform: translate3d(0, 0vh, 0);
}

#header-sub-h2.show {
  transition-delay: .75s;
}

#header-sub-h3.show {
  transition-delay: 1s;
}

#scroll-msg {
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  left: 0;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #ccc;
  font-size: 30px;
  transition-delay: 1.25s;
}

#scroll-msg.slide-left {
  left: -40vw;
  color: #7C95AA;
}
