#main-header {
  background: linear-gradient(-60deg, blue 5%, purple 80%);
  margin-bottom: 0;
  margin-top: 0px;
  width: 100vw;
  height: 150vh;
  padding: 10px;
  transition: left 2s;
  min-height: 100vh;
  z-index: -2;
}

#main-header.fixed {
  top: 0;
}

#main-title {
  position: fixed;
  transition: all 1.5s;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  left: 0;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  color: #ddd;
  font-size: 30px;
  /* opacity: .99; */
}

#main-title.title-slide-right {
  left: 30vw;
}
