#nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  position: fixed;
  top: calc(100% - 75px);
  transition: all .5s;
  z-index: 100;
  position: fixed;
  top: 0;
}

#nav-title {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

#nav-title h3 {
  margin: 0;
  color: #ddd;
}

.nav-item h4 {
  margin: 0;
}

#nav-list {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-list > div {
  color: #555;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  width: 15vw;
  height: 60px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all .75s;
}

.nav-item:hover span {
  color: #111;
  transition: all .75s;
}
